<div class="row">
<h1>Greeted</h1>
<table>
    <tr>
        <th>Names</th>
    </tr>
    {{#each greeted}}
    <tr>
        <td><a href="/counter/{{this.greeted_name}}"> {{this.greeted_name}}</a></td>
    </tr>
    {{/each}}
 
</table>
   <br>
    <br>
    <br>
<a href="index">
    <button class="homeBtn">Home Screen</button>
</a>
</div>