
h1{
    font-size: 50px;
    border-style: solid;
    border-color: coral;
    font-style: italic;
    display: inline-block;
    text-align: center;

}
body{
  background-color: cornsilk;
}
th{
  font-size: 50px;
  border-color: aqua;
  font-style: italic;
  display: inline-block;
}
.errorMessage{
  text-align: justify;
  font-style: italic;
  font-size: medium;
  background-color: burlywood;
  color: red;
}
.theNumber{
   font-size: 60px; 
   font-style: oblique;
color: black;
}

.container {
    width: 100%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    background-color: bisque;
    border: black;
    border-style: solid;
    border-width: 1em;
    border-radius: 5px;
    padding: 2em;
  
   
  }

.content{
  width: 100%;
    /* margin: 2.5rem; */
    text-align: justify;
    background-color: bisque;;
    
}

.greetMessage {
text-align: justify;
}

.homeBtn{
  background-color:orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.homeBtns{
  background-color:orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 
.resetBtn{
  background-color:orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.greetBtn{
  background-color:orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 
@media only screen and (min-width: 414px) {  
  .container {
    width: 100%;
    display: flex;
    max-width:414px;
    
  }
}

@media only screen and (min-width: 414px) { 
    h1 {
        font-size: 74px;
        border-style: solid;
        border-color: coral;
        display: flex;
        font-style: italic;
       
    }
}